services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: gtm
      POSTGRES_USER: gtm
      POSTGRES_PASSWORD: gtm
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
